<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/8faedc4425.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/styles_car_shopping.css">
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <!-- navbar -->
    
    {{> navbar}}
    
    <!-- heading section -->
    
    {{> market_header}}

    <!-- sopping cart -->

    <section id="shopping">
        <div class="container-fluid items-container text-center ">
        {{#if message}}
            <div class="alert {{alertType}} alert-dismissible fade show text-start" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/if}}
            {{#if order}}
                <form action="/marketplace/cart_shopping/cancel_order" method="POST">
            {{else}}
                <form action="/marketplace/cart_shopping/checkout" method="POST">
            {{/if}}
            <div class="row">
                <div class="col-12">
                    <h2 class="text-start pb-3"><strong>Carrito</strong> de Compras</h2>
                </div>
                

                <div class="col-12 text-start">
                    
                </div>
                <div class="col col-12 col-lg-8 text-start">
                    <h6>DETALLES DEL PRODUCTO</h6>
                    {{!-- <h4 class="">Su orden</h4>
                     <div class="row ">
                            <div class="col col-5 col-sm-7 px-0 text-start">
                            </div> --}}
                    <hr>
                    <div class="container container-fluid px-0">
                        {{#if products}}
                            {{#each products}}
                            <div class="row">
                                <div class="col col-5 col-lg-2 pe-0 mb-3 mb-lg-0">
                                    <img class="item-img" src="{{img_dir}}" alt="">
                                </div>
                                <div class="col col-7 col-lg-4  ps-2 ps-sm-4 overflow-auto">
                                    <h3 class="text-capitalize">{{name}}</h3>
                                </div>
                                <div class="col col-4 col-lg-2 text-center">
                                    <div class="row text-start">
                                        <h6>Precio</h6>
                                    </div>
                                    <div class="row">
                                        <h5 class="my-auto">{{price}} Bs</h4>
                                        <input type="number" id="price_{{id}}" class="d-none" value="{{price}}">
                                    </div>
                                </div>
                                <div class="col col-4 col-lg-2 py-sm-0 px-0">
                                    <div class="row text-start">
                                        <h6>Cantidad</h6>
                                    </div>
                                    {{#if ../order}}
                                        <div class="text-center">
                                            <input name="product_id" type="number" value="{{id}}" class="d-none">
                                            {{!-- <input name="quantity" type="number" min="1" max="50" value="{{quantity} }"> --}} 
                                            <input name="product_id" type="number" value="{{id}}" class="d-none">
                                            <h4 class="btn btn-outline-primary h4 my-auto" name="quantity" type="number" >{{quantity}}</h4>                                        
                                        </div>
                                    {{else}}
                                        <div class="row ">
                                            <input name="product_id" type="number" value="{{id}}" class="d-none">
                                            {{!-- <input name="quantity" type="number" min="1" max="50" value="{{quantity} }"> --}} 
                                            <div class="input-group py-auto my-auto text-center" bis_skin_checked="1">
                                                <button style="min-width: 1rem" class="btn btn-decrement btn-outline-secondary px-2 px-sm-3 {{#if ../order}}disabled{{/if}}" type="button" id="{{id}}" name="action" value="decrement"><strong>−</strong></button>
                                                <input type="number" inputmode="decimal" min="1" max="50" id="i{{id}}" name="quantity" value="{{quantity}}" style="text-align: center; max-width: 4rem" class="form-control px-2 px-sm-2" placeholder="" {{#if ../order}}disabled{{/if}}>
                                                <button style="min-width: 1rem" class="btn btn-increment btn-outline-secondary px-2 px-sm-3 {{#if ../order}}disabled{{/if}}" type="button" id="{{id}}" name="action" value="increment"><strong>+</strong></button>
                                            </div>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="col col-4 col-lg-2 text-end">
                                    <div class="row">
                                        <h6>Total</h6>
                                    </div>
                                    <div class="row">
                                        <h5 class="my-auto" id="total_{{id}}">{{total}} Bs</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-0 mt-3 mt-lg-1">
                                <div class="col col-0 col-lg-2 px-0">
                                </div>
                                <div class="col col-12 col-lg-5 my-auto ps-3 ps-lg-4 text-mute fs-6">
                                    {{#if ../order}}
                                        {{!-- <a href="/marketplace/product/cart_shopping/remove_product/{{id} }" ><i class="fa-solid fa-trash"></i></a> --}}
                                    {{else}}
                                        <a class="text-muted" href="/marketplace/product/cart_shopping/remove_product/{{id}}">
                                            <i class="fa-regular fa-trash-can text-mute"></i> <h6 class="d-inline-block">Eliminar</h6>
                                        </a>
                                    {{/if}}
                                </div>
                            </div>
                            <hr class="my-3">
                            {{/each}}
                            {{!-- <hr> --}}
                            <div class="container-fluid px-0">
                                <div class="">
                                    <div class="row">
                                        <div class="col col-6"><h5 class=" me-auto">{{n_products}} Artículos </h5></div>
                                        {{!-- <div class="col col-6 text-end"><h5 class="">{{n_products } } artículos</h5></div> --}}
                                    </div>
                                </div>    
                            </div>
                        {{else}}
                            {{!-- content --}}
                            <div class="col-md-10 mx-auto text-center pt-5">
                                <div class="card card-body">
                                    <h3>No hay ningún producto en el carrito </h2>
                                    <a href="/marketplace"><h3>Añadir Producto</h3></a>
                                </div>
                            </div>
                        {{/if}}
                    </div>

                </div>

                {{!-- order details --}}
                <div class="col col-12 col-lg-4 text-start px-lg-3">
                    <div class="card p-3">
                        <div class="card-body">
                            <h5 class="card-title">Detalles de la orden</h5>
                            
                            <hr>
                            <div class="container-fluid px-0">
                                <div class="row my-3">
                                    <div class="col pe-xl-0">
                                        <h5 class="">N° Artículos: </h5>
                                    </div>
                                    <div class="col text-end">
                                        <h5 class="">{{n_products}}</h5>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col col-6"><h5 class="">SubTotal </h5></div>
                                    <div class="col col-6 text-end">
                                        <h5 id="subtotal_cash" class="">{{total_cash}} Bs</h5>
                                    </div>
                                </div>
                                {{!-- <div class="row">
                                    <div class="col col-6"><h5 class="">IVA </h5></div>
                                    <div class="col col-6 text-end"><h5 class="">0 Bs</h5></div>
                                </div> --}}
                                <div class="row my-3">
                                    <div class="col"><h5 class="bold" style="font-weight: bold;">Total </h5></div>
                                    <div class="col text-end">
                                        <h5 id="total_cash" style="font-weight: bold;" class="">{{total_cash}} Bs</h5>
                                    </div>
                                </div>                            
                            </div>
                            {{!-- 
                            <h5 class="card-title mt-4">Detalles de pago</h5>
                            
                            <hr> --}}
                            
                
                            <hr>

                            {{#if order}}
                                {{!-- <div class="row">
                                    <button type="submit" class="btn btn-outline-secondary ms-auto">Cancelar pedido</button>
                                </div> --}}
                            {{else}}
                                <button type="submit" class="btn btn-success w-100 p-2">Hacer Pedido </button>
                            {{/if}}
                        </div>
                    </div>

                    {{#if order}}
                        
                        {{!-- if order active show order details --}}
                        <div class="card border-success p-3 mt-3">
                            <div class="card-header  bg-transparent border-success text-success text-center">
                                <h4 class="bold" style="font-weight: bold;">
                                    Pedido Activo
                                </h4>
                            </div>
                            <div class="card-body text-center px-0">
                                <h5 class="px-3">No podrá realizar otro pedido si ya tiene uno activo</h5>

                                <hr>

                                {{#if order}}
                                    <a  href="/marketplace/order" class="btn btn-success w-100">Ver Detalles </a>
                                {{else}}
                                    {{!-- <button type="submit" class="btn btn-outline-secondary">Cancelar pedido</button> --}}
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        </form>
    </section>

    <!-- footer section -->
    
    <section id="footer">
        {{> footer}}
    
    </section>
    <!-- bootstrap js cdn -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    
    <!-- js custom -->
    <script src="/js/in_dec.js"></script>

</body>
</html>