<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual</title>

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/8faedc4425.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/styles_market.css">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <!-- navbar -->
    {{> navbar}}
            
    <!-- heading section -->

    {{> market_header}}
        
        <!-- categories section -->

        <section id="categories">

            <div class="container-fluid text-center categories-container">
                <div class="row">
                    <!-- categories part -->
                    <div class="col col-12 col-lg-3">
                        
                        <!-- accordion -->

                        <div class="accordion" id="accordionCategories">
                            <div class="accordion-item">
                                <h2 class="accordion-header d-lg-none" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        Categorias
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0">
                                        <div class="list-group text-start">
                                            <a href="#" class="list-group-item list-group-item-action active disabled d-none d-lg-block" aria-current="true">
                                                Categorias
                                            </a>
                                            {{#each categories}}
                                                
                                                <form action="/marketplace/search" method="POST">
                                                    <input type="number" class="d-none" name="category" id="{{id}}" value="{{id}}">
                                                    <button type="submit" class="list-group-item list-group-item-action {{#if active}}list-group-item-primary{{/if}}">{{name}}</button>
                                                </form>
                                            {{else}}
                                                <a href="#" class="list-group-item list-group-item-action">Shomething went wrong :(</a>
                                            {{/each}}
                                            {{!-- <a href="#" class="list-group-item list-group-item-action">Impresoras 3D</a>
                                            <a class="list-group-item list-group-item-action">Motores</a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>

                    <!-- cards part -->

                    <div class="col col-12 col-lg-9 px-0">
                        <div class="container text-start">
                            {{#if message}}
                                <div class="alert {{alertType}} alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {{/if}}

                            {{#if category_text}}
                                <div class="row mb-2">
                                    <h2>Categoría "<strong>{{category_text}}</strong>"</h2>
                                </div>    
                            {{else}}
                                {{#if search_text}}
                                    <div class="row mb-2">
                                    <h2>Busqueda "<strong>{{search_text}}</strong>"</h2>
                                </div>   
                                {{/if}}
                            {{/if}}
                            <div class="row">
                            {{#each products}}
                                <div class="col col-12 col-md-6 col-xl-4 mb-0 mb-lg-4 mt-5 mt-lg-0">
                                    <div class="card">
                                        <a href="/marketplace/product/{{id}}"><img src="{{img_dir}}" class="card-img-top" alt="{{name}}"></a>
                                        <div class="card-body">
                                            <a href="/marketplace/product/{{id}}"><h5 class="card-title text-capitalize">{{name}}</h5></a>

                                            {{!-- display according to stock --}}
                                            {{#if little_stock}}
                                            <p class="text-warning"><i class="fa-solid fa-triangle-exclamation"></i> Pocas existencias</p>
                                            {{else}}
                                            {{#if stock}}<p>&nbsp</p>{{/if}}
                                            {{/if}}
                                            {{#unless stock}}
                                            <p class="text-danger"><i class="fa-solid fa-ban"></i> No hay existencias</p>
                                            {{/unless}}
                                            <p class="card-text">{{price}} Bs.</p>
                                            {{!-- post add to cart shopping --}}
                                            <form action="/marketplace/cart_shopping/add_product/{{id}}" method="post">
                                                <input type="number" class="form-control d-none" id="inputNumberQuantity" value="1" min="1" max="1" name="quantity">
                                                <button class="btn btn-primary w-100" {{#unless stock}}disabled{{/unless}}><i class="fa-solid fa-cart-plus" ></i> <span>Añadir al carrito</span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>

                        {{!-- pagination bar --}}
                        <div class="container-fluid mt-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    {{#with pagination_bar}}
                                        <li class="page-item {{#unless previous}}disabled{{/unless}}"><a class="page-link" href="/marketplace{{#with filter}}{{#if search}}?search={{search}}&{{/if}}{{#if category}}?category={{category}}&{{/if}}{{else}}?{{/with}}page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                                        <li class="page-item {{#unless previous}}disabled{{/unless}}"><a class="page-link" 
                                            href="/marketplace{{#with filter}}{{#if search}}?search={{search}}&{{/if}}{{#if category}}?category={{category}}&{{/if}}{{else}}?{{/with}}page={{previous}}">Anterior</a></li>
                                        {{#each display_nums}}
                                            <li class="page-item {{#if (lookup ../currentPageActive @index)}}active{{/if}}"><a class="page-link" 
                                                href="/marketplace{{#with ../filter}}{{#if search}}?search={{search}}&{{/if}}{{#if category}}?category={{category}}&{{/if}}{{else}}?{{/with}}page={{this}}">{{this}}</a></li>
                                        {{/each}}
                                        <li class="page-item {{#unless next}}disabled{{/unless}}"><a class="page-link" 
                                            href="/marketplace{{#with filter}}{{#if search}}?search={{search}}&{{/if}}{{#if category}}?category={{category}}&{{/if}}{{else}}?{{/with}}page={{next}}">Siguiente</a></li>

                                        <!--{{#with filter}}
                                            <li>filter???</li>
                                            {{#if search}}
                                                <li>{{search}}</li>
                                            {{/if}}
                                            {{#if category}}
                                                <li>{{category}}</li>
                                            {{/if}}
                                        {{else}}
                                        <li>adjsñlfd</li>
                                        {{/with}}-->
                                        <li class="page-item {{#unless next}}disabled{{/unless}}"><a class="page-link" href="/marketplace{{#with filter}}{{#if search}}?search={{search}}&{{/if}}{{#if category}}?category={{category}}&{{/if}}{{else}}?{{/with}}page={{numberOfPages}}"><i class="fa-solid fa-angles-right"></i></a></li>
                                    {{/with}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer section -->

        <section id="footer">

            {{> footer}}

        </section>
        <!-- bootstrap js cdn -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        
        <!-- js custom -->
        <script src="/js/market.js"></script>
    </body>
</html>