<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Virtual</title>

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/8faedc4425.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/styles_market.css">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <!-- navbar -->
    
    <div class="container-fluid navbar-container">
    
        <nav class="navbar navbar-expand-lg navbar-dark mb-3 py-3">
            <div class="container-fluid px-0">
                <a class="navbar-brand" href="/">OVA Tienda Virtual</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#Catalog">Catálogo</a>
                        </li>
                    </ul>
                    <a href="#Catalog">
                        <div class="dropdown-center">
                            {{#if user}}
                                <div class="dropdown-center">
                                    <a type="button" class="btn btn-outline-light catalog-btn ms-0 ms-lg-2 dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span class="ps-2"> {{user.first_name}}</span>
                                    </a>
                                    <ul id="dropdownEnter" class="dropdown-menu text-small shadow">
                                        <li><a class="dropdown-item" href="/cart-shopping">Carrito</a></li>
                                        <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="/logout">Cerrar Sesion</a></li>
                                    </ul>
                                </div>
                            {{else}}
                                <a type="button" class="btn btn-outline-light catalog-btn ms-0 ms-lg-2" href="/login">
                                    <span class="ps-2 d-block"> Iniciar Sesion {{user.email}}</span>
                                </a>
                            {{/if}}
                        </div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
            
        <!-- heading section -->

        <section id="heading">
            <div class="container-fluid container-heading">
                
                <h1>Horarios de atencion : </h1>
                <h2>10:30 - 20:30 mañanas</h2>
                <h2>10:30 - 20:30 tardes</h2>
                <h3>abierto</h3>
                
                <div class="search-bar-container">
                    <div class="row">
                        <div class="col col-12 col-lg-4">
                        </div>
                        <div class="col col-8 col-lg-4">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2 " type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        
                            </form>
                        </div>
                        <div class="col col-4 text-end">
                            <a class="btn btn-primary" href="cart_sopping.html" role="button"><i class="fa-solid fa-cart-shopping"></i> <span class="sopping-cart-text">Carrito</span></a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            
        </section>
        
        <!-- categories section -->

        <section id="categories">

            <div class="container-fluid text-center categories-container">
                <div class="row">
                    <!-- categories part -->
                    <div class="col col-12 col-lg-3">
                        
                        <!-- accordion -->

                        <div class="accordion" id="accordionCategories">
                            <div class="accordion-item">
                                <h2 class="accordion-header d-lg-none" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne">
                                        Categorias
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-0">
                                        <div class="list-group text-start">
                                            <a href="#" class="list-group-item list-group-item-action active disabled d-none d-lg-block" aria-current="true">
                                                Categorias
                                            </a>
                                            {{#each categories}}
                                                <a href="#" class="list-group-item list-group-item-action">{{name}}</a>
                                            {{else}}
                                                <a href="#" class="list-group-item list-group-item-action">Shomething went wrong :(</a>
                                            {{/each}}
                                            {{!-- <a href="#" class="list-group-item list-group-item-action">Impresoras 3D</a>
                                            <a class="list-group-item list-group-item-action">Motores</a> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                    </div>

                    <!-- cards part -->

                    <div class="col col-12 col-lg-9">
                        <div class="container text-start">
                                
                            <div class="row">
                            {{#each products}}
                                <div class="col col-12 col-md-6 col-xl-4 mb-0 mb-lg-4 mt-5 mt-lg-0">
                                    <div class="card">
                                        <a href=""><img src="{{img_dir}}" class="card-img-top" alt="..."></a>
                                        <div class="card-body">
                                            <a href=""><h5 class="card-title">{{name}}</h5></a>
                                            <p class="card-text">{{price}}</p>
                                            <a href="#" class="btn btn-primary w-100"><i class="fa-solid fa-cart-plus"></i> <span>Añadir al carrito</span></a>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer section -->

        <section id="footer">
        <footer>
            <div class="container-fluid footer-container">
                <div class="container text-start">
                    <div class="row">
                        <div class="col col-12 col-lg-4">
                            <ul class="footer-list">
                                <li>
                                    <h3 class="footer-title">Contenido</h3>
                                </li>
                                <li>
                                    <p class="footer-options">Portada</p>
                                </li>
                                <li>
                                    <p class="footer-options">Productos mas vendidos</p>
                                </li>
                                <li>
                                    <p class="footer-options">Blog</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-12 col-lg-4">
                            <ul class="footer-list">
                                <li>
                                    <h3 class="footer-title">Informacion</h3>
                                </li>
                                <li>
                                    <p class="footer-options">Ubicacion</p>
                                </li>
                                <li>
                                    <p class="footer-options">Negocio</p>
                                </li>
                                <li>
                                    <p class="footer-options">Contacto</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-12 col-lg-4">
                            <ul class="footer-list">
                                <li>
                                    <h3 class="footer-title">Redes Sociales</h3>
                                </li>
                                <li>
                                    <a href=""><i class="fa-brands fa-square-twitter"></i></a>
                                    <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-square-whatsapp"></i></a>
                                    <a href=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <h4 class="copyright">Copyright © 2022 Tienda Electrónica YU S.R.L. Todos los derechos reservados.</h4>
            </div>
        </footer>

        </section>
        <!-- bootstrap js cdn -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        
        <!-- js custom -->
        <script src="/js/market.js"></script>
    </body>
</html>