<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo vendedores</title>

    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet">
    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/8faedc4425.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles_dashboard.css">
</head>

<body>

    {{> a_header}}

    <div class="container-fluid">
        <div class="row">
            {{!-- side navbar --}}
            {{> a_sidebar bar_categories="true"}}


            <!-- dashboard -->
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5">
                <div class="container-fluid px-0 pt-3 pb-2 mb-4 border-bottom">
                    <div class="row ">
                        <div class="col mb-2">
                            <a class="btn btn-primary" href="/admin/categories"><i class="fa-solid fa-chevron-left"></i> Atras</a>
                        </div>
                        <div class="col-6 text-center">
                            <h2>Añadir Nueva Categoria de Productos</h2>
                        </div>
                        <div class="col text-end">
                            <a class="btn btn-danger" href="/admin/delete_category/{{category.id}}"><i class="fa-regular fa-trash-can"></i> Eliminar Categoria</a>
                        </div>
                    </div>
                
                </div>
                {{#if message}}
                    <div class="alert {{alertType}} alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}
                <div class="container py-2">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/admin/edit_category/{{category.id}}" method="POST">
                                        <div class="form-group pb-3">
                                            <label class="" for="">Nombre de la categoria</label>
                                            <input type="text" name="cat_name" class="form-control" placeholder="Nombre" maxlength="30" value="{{category.name}}">
                                        </div>
                                        <div class="form-group pb-3">
                                            <label class="" for="">Descripción</label>
                                            <textarea class="form-control" name="description" placeholder="Una breve despripción sobre que tipo de productos contendra esta categoría." id="exampleFormControlTextarea1" rows="3">{{category.description}}</textarea>
                                        </div>
                                        
                                        
                                        <div class="form-group text-center">
                                            <a href="/list_items" class="btn btn-secondary me-3"><span>Cancelar</span></a>
                                            <button type="submit" class="btn btn-success"><span>Guardar</span> <i
                                                    class="fa-regular fa-floppy-disk"></i></button>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>

                <h2>Productos Registrados en Categoria</h2>

                {{!-- filters --}}

                <div class="table-sm-responsive mt-4 overflow-auto">
                {{#if products}}
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {{#each products}}
                            <tr class="">
                                <td class="order align-middle white-space-nowrap">{{id}}</td>
                                <td class="order align-middle white-space-nowrap"><img src="{{{img_dir}}}" alt="img" width="50" ></td>
                                <td class="align-middle white-space-nowrap ps-8">
                                    <h6 class="mb-0 text-900 h5">{{name}}</h6>
                                    {{!-- <a class=" align-items-center" href="/admin/edit_product/{{id} }">
                                    </a> --}}
                                </td>
                                <td class="total align-middle fw-semi-bold text-1000">{{price}} Bs.</td>
                                <td>
                                    {{#each categories}}
                                        <span class="badge text-bg-light">{{this}}</span>                                         
                                    {{/each}}
                                    {{!-- <span class="badge text-bg-light">Electronica</span> --}}
                                </td>
                                <td class="date align-middle white-space-nowrap text-700 "><span class="h5">{{stock}}</span> unidades</td>
                                <td class="text-center"><a href="/admin/edit_product/{{id}}" type="button" class="btn btn-sm btn-primary"><i class="fa-regular fa-pen-to-square"></i> Editar</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="col-md-8 mx-auto text-center pt-5">
                        <div class="card card-body">
                            <h2>No hay ningún producto registrado en esta categoria</h2>
                            <a href="/admin/add_product"><h3>Añadir Un nuevo Producto</h3></a>
                        </div>
                    </div>
                {{/if}}
                </div>

                {{!-- pagination bar --}}
                <div class="container-fluid mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{#with pagination_bar}}
                                <li class="page-item {{#unless previous}}disabled{{/unless}}"><a class="page-link" href="{{link}}?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                                <li class="page-item {{#unless previous}}disabled{{/unless}}"><a class="page-link" 
                                    href="{{link}}?page={{previous}}">Anterior</a></li>
                                {{#each display_nums}}
                                    <li class="page-item {{#if (lookup ../currentPageActive @index)}}active{{/if}}"><a class="page-link" 
                                        href="{{link}}?page={{this}}">{{this}}</a></li>
                                {{/each}}
                                <li class="page-item {{#unless next}}disabled{{/unless}}"><a class="page-link" 
                                    href="{{link}}?page={{next}}">Siguiente</a></li>
                                <li class="page-item {{#unless next}}disabled{{/unless}}"><a class="page-link" href="{{link}}?page={{numberOfPages}}"><i class="fa-solid fa-angles-right"></i></a></li>
                            {{/with}}
                        </ul>
                    </nav>
                </div>
            </main>
        </div>
    </div>

    <!-- bootstrap js cdn -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>